{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="p-3 mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow p-3 mb-4 rounded bg-dark text-white">
          <div class="card-body">
            <h2 class="text-center mb-4">Password Reset Email Sent</h2>
            <p class="text-center mb-4">
              We've emailed you instructions for setting your password. 
              If you don't receive an email within a few minutes, please check your spam folder.
            </p>
            <div class="text-center">
              <a href="{% url 'accounts.login' %}" class="btn btn-warning">Return to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %} 